<app-navbar></app-navbar>
<mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>

<section>
  <div class="rooms-item container-fluid">
    <div class="row mx-auto py-5">
      <div
        class="d-flex"
        data-aos="zoom-in-down"
        data-aos-duration="1000"
        *ngFor="
          let room of roomList | orderBy : 'ratings' : true;
          let i = index
        "
      >
        <div class="row col-12" *ngIf="room.roomId == this.id">
          <div class="col-md-6">
            <span
              *ngIf="room.offers != 0"
              class="position-absolute mt-3 ml-5 translate-middle badge bg-danger"
            >
              Offer upto {{ room.offers }}%
              <span class="visually-hidden">unread messages</span></span
            >
            <img src="{{ room.image }}" class="img-fluid" alt="" />
          </div>
          <div class="col-md-3">
            <h2>
              {{ room.roomName }}
              <ngb-rating
                [rate]="room.ratings"
                [readonly]="true"
                [max]="5"
                class="colorTheme"
              ></ngb-rating>
            </h2>

            <h3 class="subheading text-body mb-3">
              <i class="fas fa-map-marker-alt colorTheme me-2"></i>
              {{ room.location }}
            </h3>
            <h4>
              <div class="d-flex mb-3">
                <small class="border-end me-3 pe-3">
                  <i class="fas fa-hotel colorTheme me-2"></i
                  >{{ room.roomType }}
                </small>
                <small class="border-end me-3 pe-3">
                  <i class="fa fa-users colorTheme me-2"></i>
                  {{ room.gender }} </small
                ><small>
                  <i class="fas fa-rupee-sign colorTheme me-2"></i
                  >{{ room.cost }}</small
                >
              </div>
            </h4>

            <p class="text-body mb-3">
              <i class="fa fa-phone colorTheme me-2"></i>
              {{ room.phoneNumber }}
            </p>

            <p class="text-body mb-3">
              <i class="fas fa-utensils colorTheme me-2"></i>
              Food Facility
            </p>

            <p class="text-body mb-3">
              <i class="fa fa-bath colorTheme me-2"></i>
              Attached Bathroom
            </p>

            <p class="text-body mb-3">
              <i class="fa fa-bed colorTheme me-2"></i>
              Bedroom
            </p>

            <p class="text-body mb-3">
              <i class="fa fa-wifi colorTheme me-2"></i>
              Wifi
            </p>

            <p class="text-body mb-3">
              <i class="fas fa-tshirt colorTheme me-2"></i>
              Laundry Facility
            </p>
          </div>
          <div class="col-md-3">
            <h2>Overview</h2>
            <hr />
            <p class="text-body mb-3">
              <i class="fa fa-key colorTheme me-2"></i>
              Possession: June 6,2023
            </p>

            <p class="text-body mb-3">
              <i class="fa fa-birthday-cake colorTheme me-2"></i>
              Age of Building >10 Years
            </p>

            <p class="text-body mb-3">
              <i class="fas fa-couch colorTheme me-2"></i>
              Furnished
            </p>

            <p class="text-body mb-3">
              <i class="fas fa-user-lock colorTheme me-2"></i>
              Security : Yes
            </p>

            <p class="text-body mb-3">
              <i class="fas fa-concierge-bell colorTheme me-2"></i>
              Non-Veg allowed
            </p>

            <p class="text-body mb-3">
              <i class="fa fa-motorcycle colorTheme me-2"></i>
              Parking Facility
            </p>

            <button
              type="submit"
              mat-raised-button
              class="bookNow float-right mt-5"
              style="color: white; background-color: #3692cc"
              (click)="goBack()"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="rooms-item container-fluid col-md-12">
    <h3>Feedback</h3>
    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
      <input type="text" name="name" ngModel placeholder="name" /><br /><br />
      <input type="email" name="email" ngModel placeholder="email" /> <br /><br />
      <input type="text" name="rating" ngModel placeholder="rating out of 5"/><br /><br />
      <button
        type="submit"
        mat-raised-button
        class="bookNow"
        style="color: white; background-color: #3692cc"
      >
        Submit
      </button>
    </form>
  </div> -->
</section>

<!-- <div>
  <div>
    <div class="panel-body">
      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Room Id </label>
        <input
          type="text"
          [(ngModel)]="roomId"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Room Id is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Room Name </label>
        <input
          type="text"
          [(ngModel)]="roomName"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Room Name is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Room Type </label>
        <input
          type="text"
          [(ngModel)]="roomType"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Room Type is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Cost </label>
        <input
          type="text"
          [(ngModel)]="cost"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *cost is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Gender </label>
        <input
          type="text"
          [(ngModel)]="gender"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Gender is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Location </label>
        <input
          type="text"
          [(ngModel)]="location"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Location is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Offers </label>
        <input
          type="text"
          [(ngModel)]="offers"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Offers is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Ratings </label>
        <input
          type="text"
          [(ngModel)]="ratings"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Ratingsis required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Image </label>
        <input
          type="text"
          [(ngModel)]="image"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Image is required
        </span>
      </div>

      <div
        class="form-group"
        style="padding: 2px"
        [class.has-error]="userNameControl.invalid"
      >
        <label class="control-label"> Phone Number </label>
        <input
          type="text"
          [(ngModel)]="phoneNumber"
          class="form-control"
          required
          #userNameControl="ngModel"
          minLength="1"
        />
        <span
          class="help-block"
          *ngIf="userNameControl.invalid && userNameControl.touched"
          [style]="{ color: 'red' }"
        >
          *Phone Number is required
        </span>
      </div>
    </div>

    <button (click)="AddRoom()">save</button>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /> -->

<!-- <section>
  <div
    class="container-xxl mt-lg-3 justify-content-center align-items-center row d-flex col-lg-6"
  >
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" placeholder="name" />
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Review</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </form>
    <button (click)="AddReview(this.id)">save</button>
  </div>
  <br><br>
</section> -->
<app-footer></app-footer>
