<app-navbar></app-navbar>
<section>
  <div
    class="container-xxl mt-lg-3 justify-content-center align-items-center pb-5"
  >
    <div class="row">
      <div class="d-flex pb-1">
        <div class="d-flex rounded mx-auto">
          <div class="contact-box rounded">
            <div class="text-center">
              <h1 class="font-weight-bold mt-5">
                CONTACT
                <span
                  class="colorTheme text-uppercase"
                  style="font-weight: bolder"
                  >US</span
                >
              </h1>
              <P class="text-center">
                We can help our team of experts is on hand to answer your
                questions.
              </P>
            </div>
            <form action="">
              <input type="text" class="input-field" placeholder="Name" />
              <input type="email" class="input-field" placeholder="Email" />
              <input type="text" class="input-field" placeholder="Subject" />
              <textarea
                type="text"
                class="textarea-field"
                placeholder="Your Message"
              ></textarea>
              <button
                type="submit"
                mat-raised-button
                style="color: white; background-color: #3692cc"
              >
                SEND
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
