<app-navbar></app-navbar>

<section>
  <div class="container-xxl">
    <div
      class="container-xxl mt-lg-5 w-75 justify-content-center align-items-center"
    >
      <div class="text-center" data-aos="fade-down" data-aos-duration="1000">
        <h1 class="mb-lg-1 font-weight-bold mb-lg-3">
          TERMS AND
          <span
            class="colorTheme text-uppercase"
            id="About"
            style="font-weight: bolder"
            >CONDITIONS</span
          >
        </h1>
      </div>
    </div>
    <div class="container mt-0 pt-0">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h2
            class="mb-4 font-weight-bold"
            data-aos="fade-down"
            data-aos-duration="1000"
          >
            Terms of Use
          </h2>
          <p class="mb-4" data-aos="fade-down" data-aos-duration="1000">
            These terms of use ("Terms") constitute a legally binding agreement
            between you and THE ROOMS Realty Services Limited (the "Company")
            regarding your use of the website www.therooms.com (the "Site") and
            any services offered by the Company including but not limited to
            delivery of content via the Site, any mobile or internet connected
            device or otherwise (the "the Service").<br /><br />
            Your use of the Site and services and tools are governed by the
            following Terms as applicable to the Company including the
            applicable policies which are incorporated herein by way of
            reference. By mere use of the Site, You shall be contracting with
            THE ROOMS Realty Services Limited, the owner of the Platform. These
            terms and conditions including the policies constitute Your binding
            obligations, with THE ROOMS.<br /><br />
            When You use any of the services provided by Us through the
            Platform, including but not limited to, (e.g. Product Reviews,
            Seller Reviews), You will be subject to the rules, guidelines,
            policies, terms, and conditions applicable to such service, and they
            shall be deemed to be incorporated into this Terms and shall be
            considered as part and parcel of this Terms.<br /><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
