<section>
  <div class="container-fluid bg-dark text-light footer mt-4">
    <div class="container pb-5">
      <div class="row g-5">
        <div
          class="col-md col-lg ml-3"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <div class="colorBgTheme rounded p-4">
            <a routerLink="/"
              ><h1 class="text-white text-uppercase">THE ROOMS</h1></a
            >
            <p class="text-white mb-0">
              Hey
              <a href="#Home" class="text-dark fw-medium">THE ROOMS</a>
              is India most popular platform to find a room, PG, and
              roommate.This is a community of like-minded people looking to find
              an affordable room and roomates they can share a co-living space
              with.
            </p>
          </div>
        </div>

        <div
          class="col-md col-lg ml-lg-5 pl-lg-5"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h1 class="section-title text-start colorTheme text-uppercase mb-4">
            Contact
          </h1>
          <p class="mb-2">
            <i class="fas fa-map-marker-alt me-3"></i>123 Chennai, India
          </p>
          <p class="mb-2"><i class="fa fa-phone me-3"></i>+9460 084 839</p>
          <p class="mb-2">
            <i class="fa fa-envelope me-3"></i>therooms@gmail.com
          </p>

          <div class="d-flex pt-2 social-media">
            <a href="" class="btn btn-outline-light"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="" class="btn btn-outline-light"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="" class="btn btn-outline-light"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="" class="btn btn-outline-light"
              ><i class="fab fa-linkedin"></i
            ></a>
          </div>
        </div>

        <div
          class="col-lg col-md last"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <h2 class="section-title text-start colorTheme text-uppercase mb-2">
            Company
          </h2>
          <p><a href="#About" class="btn btn-link">About Us</a></p>
          <p>
            <a routerLink="/app-contact" class="btn btn-link">Contact Us</a>
          </p>
          <p>
            <a routerLink="/app-privacy-policy" class="btn btn-link"
              >Privacy Policy</a
            >
          </p>
          <p>
            <a routerLink="/app-terms-and-condition" class="btn btn-link"
              >Terms & Condition</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
