<app-navbar></app-navbar>

<section>
  <div class="container-xxl">
    <div
      class="container-xxl mt-lg-5 w-75 justify-content-center align-items-center"
    >
      <div class="text-center" data-aos="fade-down" data-aos-duration="1000">
        <h1 class="mb-lg-1 font-weight-bold mb-lg-3">
          Privacy
          <span
            class="colorTheme text-uppercase"
            id="About"
            style="font-weight: bolder"
            >POLICY</span
          >
        </h1>
      </div>
    </div>
    <div class="container mt-0 pt-0">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <p class="mb-4" data-aos="fade-down" data-aos-duration="1000">
            This privacy policy ("Policy") explains the policy regarding the
            collection, use, disclosure and transfer of your information by THE
            ROOMS Realty Services Limited and/or its subsidiary(ies) and/or
            affiliate(s) (collectively referred to as the "Company"), which
            operates various websites, including sub-sites, platforms,
            applications, m-web platforms and other platforms (collectively
            referred to as "Sites") for delivery of information, products,
            offerings and content via any mobile or internet connected device or
            otherwise (collectively the "Services"). <br /><br />
            This Policy forms part and parcel of the Terms of Use and other
            terms on the Site ("Terms of Use"). Capitalized terms which have
            been used here but are undefined shall have the same meaning as
            attributed to them in the Terms of Use. This policy is effective
            from the date and time a user registers with Site and accept the
            terms and conditions laid out in the Site. Please read this Privacy
            Policy and our Terms of Use carefully before using our Services.
            <br /><br />
            THE ROOMS respects the privacy of its users and is committed to
            protect it in all respects. With a view to offer most enriching and
            holistic internet experience to its users THE ROOMS offers a vast
            repository of Online Sites and variety of community services. The
            information about the user as collected by THE ROOMS is: (a)
            information supplied by users and (b) information automatically
            tracked while navigation (Information).<br /><br />
            By using THE ROOMS website or its services, you consent to
            collection, storage, use, transfer, share and distribute the
            personal information you provide (including any changes thereto as
            provided by you) for any of the services that we offer. <br /><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
