.navbar{
    background-color: #3692cc;
}

.regButton:hover{
    text-decoration: none;
}
.logo p{ 
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 12px;
    padding-left: 10px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

.navbar-nav{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a{
    color: #fff;
}

nav ul li a:hover{
    color: #000;
}

nav ul .active{
    color: #000;
}
